name: Deploy Helm Chart
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  helm_deploy:
      name: Deploy helm chart
      environment: ${{ inputs.environment }}
      runs-on: ubuntu-latest
      steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519 # optional
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)
      
      - name: Setup WireGuard
        uses: nycmeshnet/vpn-infra-action@main
        with:
          config-name: "ghelement"
          private-key: ${{ secrets.WG_PRIVATE_KEY }}
          server-preference: "3,10,11"
          test-ip: "10.10.10.10"
          
      - name: Install Helm Chart
        run: |
          scp ${{ secrets.SSH_USER }}@${{ secrets.SSH_TARGET_IP }}:~/.kube/config ./
          helm repo add influxdata https://helm.influxdata.com/
          helm upgrade \
            influx \
            influxdata/influxdb2 \
            --install \
            --kubeconfig ./config \
            --kube-apiserver https://${{ secrets.SSH_TARGET_IP }}:6443 \
            -f ./influxdb/${{ inputs.environment }}.values.yaml \
            --create-namespace  \
            --set adminUser.password="${{ secrets.INFLUXDB_ADMIN_PASSWORD }}" \
            -n ${{ vars.APP_NAMESPACE }}
